<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <div id="wrapper">
        <div id="star1"><p>*</p></div>
        <div id="star2"><p>*.</p></div>
        <div id="star3"><p>*</p></div>
        <div id="star4"><p>.*.</p></div>
        <div id="helmet">   
            <div id="visor">         
                <h1>Final Project API Index</h1>
                <p>/ By Autumn Hubbell</p>
            </div><br>    
            <div id="button1"></div>
            <div id="button2"></div>
        </div>    
        <div id="bust"></div>    
        <div id="star5"><p>.*.</p></div>
        <div id="star6"><p>.*</p></div>
        <div id="star7"><p>*</p></div>
        <div id="star8"><p>*</p></div>
    </div>
</body>

</html>